@media (max-width: 479px) {

    .header_phone {
        font-size: 20px;
    }
    .header_logo {
        width: 46px;
        height: 50px;
    }
    header {
        padding: 15px 0;
    }
    .header_fixed {
        padding: 15px 0;
    }
    header .menu {
        top: 70px;
    }
    .cont {
        padding: 0 15px;
    }
    .first-section {
        margin-top: 80px;
    }


   
}
