@media print, (max-width: 767px) {


    .first-section_title {
        font-size: 30px;
    }
    .first-section_text {
        display: none;
    }
    .advantages_top {
        display: none;
    }
    .advantages_items > * {
        width: 100%;
    }
    .advantages_items {
        gap: 10px;
    }
    .block {
        margin-top: 50px;
    }
    .service_items > * {
        flex-direction: column-reverse;
    }
    .service_item-info {
        width: 100%;
    }
    .service_item-title {
        text-align: center;
        font-weight: 700;
    }
    .service_item-text {
        text-align: center;
    }
    .service_item-btn {
        margin: auto;
    }
    .reason {
        display: none;
    }
    .title {
        font-size: 25px;
        margin-bottom: 25px;
    }
    .stage_item-title {
        font-weight: 400;
        font-size: 22px;
    }
    .consultation {
        display: none;
    }
    .partner {
        display: none;
    }
    .accordion_item {
        margin-bottom: 10px;
    }
    .accordion_item-head {
        padding: 12px 10px 12px 20px;
    }
    .reviews_item {
        padding: 20px;
    }
    .contact {
        margin-top: 80px;
    }
    .map_wrap {
        display: none;
    }
    .header_phone {
        margin-top: 0;
    }
    .calculator_right .line {
        display: none;
    }
    .calculator_right .checkbox {
        display: none;
    }
    .calculator_right {
        padding: 0px;
        background: none;
        border: none;
        border-radius: 0px;
        display: flex;
        flex-direction: column;
    }
    .calculator_wrap form {
        padding: 10px 10px 35px;
        background: #F7F6F9;
        border: 0.5px solid #E0E0E0;
        border-radius: 5px;   
        gap: 10px;
    }
    .calculator_left-text {
        display: none;
    }
    .calculator_right-text {
        order: -1;
        font-family: 'Geometria';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 14px;
        color: #000000;
        margin-right: 10px;
        margin-bottom: 5px;
        margin-top: 0;
    }
    input#price {
        height: 40px;
        margin-bottom: 30px;
    }
    .calculator_left label {
        font-size: 11px;
        margin-left: 10px;
    }
    input#amount, 
    input#amount2, 
    input#amount3 {
        font-size: 20px;
        line-height: 22px;
        background: #FFFFFF;
        border: 1px solid #E0E0E0;
        border-radius: 5px 5px 0px 0px;
        padding: 10px;
    }
    .irs--flat .irs-min, 
    .irs--flat .irs-max {
        font-size: 11px;
        top: 25px;
    }
    .irs--flat .irs-bar {
        height: 2px;
        top: 19px;
    }
    .irs--flat .irs-handle {
        width: 10px;
        height: 10px;
        top: 14px;
    }
    .irs--flat .irs-line {
        top: 20px;
    }
    .calculator_left .line {
        margin-bottom: 10px;
    }
    .calculator_left .line.dn {
        margin-bottom: 0;
    }
    .calculator_title {
        display: none;
    }
    .calculator_title-mob {
        display: block;
        margin-bottom: 5px;
    }
    .calculator_text-mob {
        display: block;
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 15px;
        line-height: 1.2;
        text-align: center;
        color: #000000;
        max-width: 270px;
        margin: 0 auto 10px;
    }
    .modal_text {
        font-size: 18px;
    }
    .header_wrap {
        align-items: flex-start;
    }
    .contact_bottom .contact_left {
        display: none;
    }
    .contact_right {
        width: 100%;
    }
    .contact_top .contact_left {
        width: 100%;
    }
    .contact_left-item-label {
        font-size: 22px;
        font-weight: 400;
    }
    .contact_left-text {
        font-size: 15px;
    }
    .contact_left-item-text {
        font-size: 15px;
    }
    .contact_left-item-text.phone {
        font-size: 22px;
        color: #F36F21;
    }
    .contact_left-item-box .contact_soc {
        display: flex;
        margin-top: 0;
    }
    .contact_left-item-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }




}
