@media (max-width: 479px) {


    .header_logo {
        width: 100px;
        height: 48px;
    }
    .header_phone {
        font-size: 22px;
    }
    .header_phone span {
        font-size: 14px;
    }
    .cont {
        padding: 0 10px;
    }
    header {
        padding: 12px 0 20px;
        background: #fff;
    }
    .first-section ul li {
        font-size: 14px;
    }
    .first-section ul li:before {
        top: 4px;
    }
    .first-section ul {
        margin-bottom: 46px;
    }
    .first-section_wrap {
        padding: 44px 22px 40px;
    }
    .advantages_item-title {
        font-size: 20px;
        font-weight: 400;
    }
    .advantages_item-text {
        font-size: 15px;
    }
    .title {
        font-size: 25px;
    }
    .service_item-img {
        width: 170px;
        height: 170px;
    }
    .service_item-title {
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 10px;
    }
    .service_item-text {
        font-size: 15px;
        margin-bottom: 40px;
    }
    .service_item {
        gap: 10px;
    }
    .service_items > * {
        padding: 35px 25px;        
    }
    .btn {
        width: 100%;
    }
    .stage_item-number {
        width: 55px;
        height: 51px;
    }
    .stage_item-title {
        font-size: 22px;
    }
    .stage_item-top {
        margin-bottom: 10px;
    }
    .stage_item-text {
        font-size: 15px;
    }
    .stage_items {
        gap: 10px;
    }
    .accordion_item-data {
        padding: 10px;
        font-size: 15px;
    }
    .accordion_item-title {
        font-size: 20px;
    }
    .accordion_item .accordion_item-icon-plus,
    .accordion_item .accordion_item-icon-minus {
        font-size: 25px;
    }
    .reviews_item-avatar {
        width: 70px;
        height: 70px;
    }
    .reviews_item-name {
        font-size: 22px;
    }
    .reviews_item-author {
        gap: 15px;
    }
    .reviews_item-text {
        font-size: 15px;
    }
    .reviews_item-link {
        margin-top: 15px;
    }
    .contact_right-text {
        font-size: 7px;
    }
    .calculator .btn,
    .service_item-btn {
        width: 100%;
        margin: 0 auto;
    }
    .modal {
        padding: 30px 20px;
    }
    .consultation_btn {
        height: 50px;
        line-height: 50px;
        width: 100%;
    }
    .consultation .line .field input {
        padding: 20px;
        height: 50px;
    }
    .modal_text {
        font-size: 15px;
    }
    .modal .consultation_title {
        font-size: 20px;
    }
    .modal3 {
        padding: 20px 15px;
    }
    .modal3_title {
        font-size: 18px;
        margin-bottom: 18px;
    }
    .modal3_text {
        font-size: 13px; 
    }
    .modal3_text p + p {
        margin-top: 12px;
    }




   
}
