/* For old browsers */
@supports (not(--css: variables)) {
    .supports_error {
        display: flex !important;
    }
}

/* For IE */
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .supports_error {
        display: flex !important;
    }
}



/*------------------
    Reset styles
------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    scroll-margin-top: 88px;
}

*:before,
*:after {
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;

    overscroll-behavior: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;
    text-decoration-skip: objects;
}

img {
    border-style: none;
}

textarea {
    overflow: auto;
}

input,
textarea,
input:active,
textarea:active,
button {
    margin: 0;

    -webkit-border-radius: 0;
    border-radius: 0;
    outline: none transparent !important;
    box-shadow: none;

    -webkit-appearance: none;
    appearance: none;
    -moz-outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    margin: 0;

    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

:focus {
    outline: 0;
}

:hover,
:active {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}


::-ms-clear {
    display: none;
}



@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-Regular.eot');
    src: local('Geometria Regular'), local('Geometria-Regular'),
        url('../fonts/Geometria-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Geometria-Regular.woff2') format('woff2'),
        url('../fonts/Geometria-Regular.woff') format('woff'),
        url('../fonts/Geometria-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-Medium.eot');
    src: local('Geometria Medium'), local('Geometria-Medium'),
        url('../fonts/Geometria-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Geometria-Medium.woff2') format('woff2'),
        url('../fonts/Geometria-Medium.woff') format('woff'),
        url('../fonts/Geometria-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-Light.eot');
    src: local('Geometria Light'), local('Geometria-Light'),
        url('../fonts/Geometria-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Geometria-Light.woff2') format('woff2'),
        url('../fonts/Geometria-Light.woff') format('woff'),
        url('../fonts/Geometria-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-Bold.eot');
    src: local('Geometria Bold'), local('Geometria-Bold'),
        url('../fonts/Geometria-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Geometria-Bold.woff2') format('woff2'),
        url('../fonts/Geometria-Bold.woff') format('woff'),
        url('../fonts/Geometria-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-ExtraBold.eot');
    src: local('Geometria ExtraBold'), local('Geometria-ExtraBold'),
        url('../fonts/Geometria-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Geometria-ExtraBold.woff2') format('woff2'),
        url('../fonts/Geometria-ExtraBold.woff') format('woff'),
        url('../fonts/Geometria-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-ExtraLight.eot');
    src: local('Geometria ExtraLight'), local('Geometria-ExtraLight'),
        url('../fonts/Geometria-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Geometria-ExtraLight.woff2') format('woff2'),
        url('../fonts/Geometria-ExtraLight.woff') format('woff'),
        url('../fonts/Geometria-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-Heavy.eot');
    src: local('Geometria Heavy'), local('Geometria-Heavy'),
        url('../fonts/Geometria-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Geometria-Heavy.woff2') format('woff2'),
        url('../fonts/Geometria-Heavy.woff') format('woff'),
        url('../fonts/Geometria-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-Thin.eot');
    src: local('Geometria Thin'), local('Geometria-Thin'),
        url('../fonts/Geometria-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Geometria-Thin.woff2') format('woff2'),
        url('../fonts/Geometria-Thin.woff') format('woff'),
        url('../fonts/Geometria-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}





/*-------------------
    Global styles
-------------------*/
:root {
    --scroll_width: 17px;
    --text_color: #17100E;
    --font_size: 17px;
    --font_size_title: 52px;
    --font_family1: 'Geometria', sans-serif;
    --font_family2: "Montserrat", serif;
}


::selection {
    color: #fff;

    background: #18A0FB;
}

::-moz-selection {
    color: #fff;

    background: #18A0FB;
}


.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}



html {
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
}


body {
    color: var(--text_color);
    font-family: var(--font_family1);
    font-size: var(--font_size);
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
}


button {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    display: inline-block;

    cursor: pointer;
    vertical-align: top;

    border: none;
    background: none;
}


.wrap {
    position: relative;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    min-width: 360px;
    min-height: 100%;
}


.main {
    flex: 1 0 auto;
}


.cont {
    width: 100%;
    max-width: 1290px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}


.lozad {
    transition: opacity .5s linear;

    opacity: 0;
}

.lozad.loaded {
    opacity: 1;
}


.row {
    display: flex;

    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}

img {
    display: block;
}


.overlay {
    position: fixed;
    z-index: 1;
    top: 144px;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    opacity: .3;
    background: #000;
}



.supports_error {
    font-size: 20px;
    line-height: 30px;

    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;
    padding: 20px;

    text-align: center;

    background: #fff;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.supports_error.show {
    display: flex;
}
body.menu_open {
    overflow: hidden;
}




/*------------
    Header
------------*/

header {
    padding: 30px 0;
    background: #fff;
}
.header_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .menu {
    display: flex;
    gap: 50px;
}
 header .menu .item {
    position: relative;
}
header .menu .item>a {
    font-family: var(--font_family2);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    color: var(--text_color);
    position: relative;
    display: flex;
    transition: all .4s;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    cursor: pointer;
    text-decoration: none;
}
header .menu .item:hover>a {
    color: #B48627;
}
header .menu .item:active>a {
    color: #B48627;
}



.block {
    margin-top: 130px;
}











.consultation .line {
    width: 100%;
    margin-bottom: 16px;
}
.consultation .line .field {
    width: 100%;
}
.consultation .line .field input {
    padding: 20px;
    width: 100%;
    height: 59px;
    background: #F2F9FA;
    border-radius: 6px;
    border: none;
    font-family: var(--font_family);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #000;
}
.consultation .line .field input::-webkit-input-placeholder {
    font-family: var(--font_family);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #2C332D;
}
.consultation .line .field input::-moz-placeholder {
    font-family: var(--font_family);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #2C332D;
}
.consultation .line .field input:-moz-placeholder {
    font-family: var(--font_family);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #2C332D;
}
.consultation .line .field input:-ms-input-placeholder {
    font-family: var(--font_family);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #2C332D;
}
.checkbox {
    display: flex;
    align-items: center;
}
.form_agree-text {
    font-family: var(--font_family);
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #000000;    
}
.form_agree-text a {
    font-family: var(--font_family);
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #1591D8;  
    text-decoration: none;    
}
.consultation button {
    width: 100%;
    height: 69px;
    background:  var(--bg2);
    border-radius: 6px;
    font-family: var(--font_family);
    font-weight: 700;
    font-size: 24px;
    line-height: 69px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 26px;
    border: 1px solid var(--bg2);
    transition: all .4s;
}
.consultation button:hover {
    background: #fff;
    color: var(--bg2);
}
.checkbox label {
    display: inline-block;
    font-family: inherit;
    position: relative;
    padding-left: 34px;
    cursor: pointer;
    line-height: 24px;
}
.custom-checkbox + label:before {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    background: #fff;
}
.custom-checkbox:checked + label:after {
    border-bottom: 2px solid #2E58A6;
    border-left: 2px solid  #2E58A6;
    width: 14px;
    height: 8px;
    content: "";
    position: absolute;
    left: 5px;
    top: 6px;
    transform: rotate(-45deg);
}

